globalterrorismdb_0617dist.csv
.idea/
/European Soccer/models/
/European Soccer/dataset/player.sqlite
/European Soccer/dataset/player_attributes.sqlite
/archieve/
/First Neural Network/
/Regression/
/LSTM time series forecasting/
