globalterrorismdb_0617dist.csv
.idea/
/European Soccer/models/
/European Soccer/dataset/player.sqlite
/European Soccer/dataset/player_attributes.sqlite
/archieve/
/First Neural Network/
/LSTM time series forecasting/
/European Soccer/dataset/df_encoded.csv
/European Soccer/.ipynb_checkpoints/
/Regression/dataset/
